<template>
    <div>
        <nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg"
             color-on-scroll="100"
             id="sectionsNav">
            <div class="container">
                <div class="navbar-translate">
                    <router-link :to="{ name: 'books' }" class="navbar-brand">Книжный магазин</router-link>
                </div>
                <div class="collapse navbar-collapse">
                    <ul v-if="$auth.check()" class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <router-link :to="{ name: 'books' }" class="nav-link">Книги</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'creators' }" class="nav-link">Писатели</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'creator_types' }" class="nav-link">Виды писателей</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click.prevent="$auth.logout()">Выйти</a>
                        </li>
                    </ul>
                    <ul v-else class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <router-link :to="{ name: 'login' }" class="nav-link">Авторизация</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'register' }" class="nav-link">Регистрация</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <component :is="layout">
            <router-view :layout.sync="layout"></router-view>
        </component>
    </div>
</template>
<script>
    import LayoutAuth from './layouts/Auth';

    export default {
        name: 'App',
        data() {
            return {
                layout: LayoutAuth,
            };
        },
    };
</script>
