<template>
    <div id="books_list">
        <h2 class="title text-center">Книги</h2>
        <router-link :to="{ name: 'book_create' }" class="btn btn-primary mt-1 mb-2">Добавить книгу</router-link>
        <div v-if="books.data.length">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="bg-secondary text-white">
                    <th>ID</th>
                    <th>Название</th>
                    <th>Обложка</th>
                    <th>ISBN</th>
                    <th>Автор</th>
                    <th class="text-center">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="book in books.data">
                    <td>{{book.id}}</td>
                    <td class="text-left">
                        <router-link :to="{name: 'book_view', params: {id: book.id}}">{{book.title}}</router-link>
                    </td>
                    <td><img :src="book.cover" width="60"></td>
                    <td>{{book.isbn}}</td>
                    <td>{{formatAuthors(book.authors)}}</td>
                    <td align="center">
                        <router-link :to="{name: 'book_edit', params: {id: book.id}}" class="text-primary"><i
                            class="fa fa-fw fa-edit"></i> Изменить
                        </router-link>
                        |
                        <a @click.prevent="deleteBook(book.id)" href="#" class="text-danger"><i
                            class="fa fa-fw fa-trash"></i>Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <pagination :data="books" @pagination-change-page="fetchBooks"></pagination>
        </div>
        <div v-else>
            <div class="text-center">Пока не добавлено ни одной книги</div>
        </div>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mixins: [layoutMixin],
        mounted() {
            this.fetchBooks();
        },
        data: function () {
            return {
                books: {data: []}
            }
        },
        methods: {
            formatAuthors: function (authors) {
                return authors.map(function (author) {
                    return author.name;
                }).join(', ');
            },
            fetchBooks: function (page = 1) {

                const url = '/books?page=' + page;

                axios.get(url).then((resp) => {
                    this.books = resp.data.data;
                });

                document.getElementById("books_list").scrollIntoView({alignToTop: true, behavior: "smooth"});

            },
            deleteBook: function (id) {
                axios.delete('/books/' + id).then((resp) => {
                    this.books.data = this.books.data.filter((book) => {
                        return book.id != id;
                    });
                })
            }
        }
    }
</script>
