<template>
    <div>
        <h2 class="title text-center">{{book.title}}</h2>
        <img v-if="book.cover" :src="book.cover">
        <div class="text-left">
            <p><b>ISBN:</b> {{book.isbn}}</p>
            <p v-if="book.year"><b>Год:</b> {{book.year}}</p>
            <div v-if="book.book_creators && book.book_creators.length">
                <p v-for="creator_type in book.book_creators">
                    <b>{{creator_type.name}}:</b> {{formatCreators(creator_type.data)}}
                </p>
            </div>
            <div v-if="book.description" class="text-left">
                <h3>Описание</h3>
                {{book.description}}
            </div>
        </div>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";
    import fetchBookMixin from "../mixins/book/fetchBookMixin";
    import fetchBookCreatorsMixin from "../mixins/book/fetchBookCreatorsMixin";

    export default {
        mixins: [layoutMixin, fetchBookMixin, fetchBookCreatorsMixin],
        methods: {
            formatCreators(creators) {
                return creators.map(function (creator) {
                    return creator.name;
                }).join(', ');
            }
        }
    }
</script>
