<template>
    <div class="col-sm-6 m-auto text-left">
        <h5 class="card-title"><span class="text-danger">*</span> Поле обязательно для заполнения</h5>
        <form method="post" @submit.prevent="saveBook">
            <div class="form-group">
                <label>Название <span class="text-danger">*</span></label>
                <input type="text" name="name" id="name" class="form-control" v-model="book.title" required="">
                <div v-if="errors && errors.title" class="text-danger">{{ formatErrors(errors.title) }}</div>
            </div>
            <div class="form-group form-file-upload form-file-multiple form-cover">
                <label>Обложка</label>
                <p v-if="book.cover"><img :src="book.cover"></p>
                <div class="input-group">
                    <span class="btn btn-raised btn-round btn-default btn-file">
                        <span v-if="book.cover">Заменить изображение</span>
                        <span v-else>Загрузить изображение</span>
                        <input type="file" name="cover" v-on:change="uploadCover"/>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>ISBN <span class="text-danger">*</span></label>
                <input type="text" name="isbn" id="isbn" class="form-control"
                       v-model="book.isbn" required="">
                <div v-if="errors && errors.isbn" class="text-danger">{{ formatErrors(errors.isbn) }}</div>
            </div>
            <div class="form-group">
                <label>Год <span class="text-danger">*</span></label>
                <input type="text" name="year" id="year" class="form-control"
                       v-model="book.year" required="">
                <div v-if="errors && errors.year" class="text-danger">{{ formatErrors(errors.year) }}</div>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea name="description" id="description" class="form-control"
                          v-model="book.description"></textarea>
                <div v-if="errors && errors.description" class="text-danger">{{ formatErrors(errors.description) }}
                </div>
            </div>

            <div class="creators">
                <div v-for="(book_creator, key) in book_creators">
                    <div class="form-groups">
                        <div class="row">
                            <div class="col">
                                <label>Автор</label>
                                <select v-model="book_creators[key].creator" class="form-control selectpicker" required>
                                    <option v-for="(creator, creator_id) in creators" v-bind:value="creator_id">
                                        {{creator}}
                                    </option>
                                </select>
                            </div>
                            <div class="col">
                                <label>Вид автора</label>
                                <select v-model="book_creators[key].creator_type" class="form-control selectpicker">
                                    <option v-for="(creator_type, creator_type_id) in creator_types"
                                            v-bind:value="creator_type_id">{{creator_type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" @click.prevent="addCreator" class="btn btn-primary btn-sm"><i
                    class="fa fa-fw fa-plus-circle"></i> Добавить автора</a>
            </div>

            <div class="form-group mt-3">
                <button type="submit" name="submit" value="submit" id="submit" class="btn btn-primary">Сохранить книгу
                </button>
            </div>
        </form>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";
    import fetchBookCreatorsMixin from "../mixins/book/fetchBookCreatorsMixin";

    export default {
        mixins: [layoutMixin, fetchBookCreatorsMixin],
        mounted() {
            this.fetchBook();
        },
        data: function () {
            return {
                book: {},
                errors: {},
                authors: {},
                book_creators: [],
                cover: null
            }
        },
        methods: {
            fetchBook() {

                const url = '/books/' + this.$route.params.id;

                axios.get(url).then(({data}) => {
                    this.book = data.data;

                    this.book.book_creators.forEach(creator_type => {
                        creator_type.data.forEach(creator => {
                            this.book_creators.push({
                                creator: creator.id,
                                creator_type: creator_type.id
                            });
                        });
                    });

                });

            },
            uploadCover(e) {
                this.cover = e.target.files[0];
            },
            addCreator() {
                this.book_creators = [...this.book_creators, {
                    creator: '',
                    creator_type: ''
                }];
            },
            saveBook() {

                const url = '/books/' + this.book.id;

                var formData = new FormData();
                formData.append('fields', JSON.stringify(this.book));
                formData.append('creators', JSON.stringify(this.book_creators));
                if (this.cover) {
                    formData.append('cover', this.cover, this.cover.name);
                }

                axios.post(url, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((resp) => {
                    this.$router.push({name: 'books'});
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors || {};
                    }
                });

            }
        }
    }
</script>
