<template>
    <div class="col-sm-6 m-auto text-left">
        <h5 class="card-title"><span class="text-danger">*</span> Поле обязательно для заполнения</h5>
        <form method="post" @submit.prevent="saveCreatorType">
            <div class="form-group">
                <label>Название <span class="text-danger">*</span></label>
                <input type="text" name="name" id="name" class="form-control" v-model="fields.name" required="">
                <div v-if="errors && errors.name" class="text-danger">{{ formatErrors(errors.name) }}</div>
            </div>
            <div class="form-group">
                <label>Сортировка <span class="text-danger">*</span></label>
                <input type="number" name="sort" id="sort" class="form-control"
                       v-model="fields.sort" required="" :run="fields.sort = 10">
                <div v-if="errors && errors.sort" class="text-danger">{{ formatErrors(errors.sort) }}</div>
            </div>
            <div class="form-group">
                <button type="submit" name="submit" value="submit" id="submit" class="btn btn-primary"><i
                    class="fa fa-fw fa-plus-circle"></i> Добавить
                </button>
            </div>
        </form>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mixins: [layoutMixin],
        data: function () {
            return {
                fields: {},
                errors: {}
            }
        },
        methods: {
            saveCreatorType() {

                const url = '/creator_types';

                axios.post(url, this.fields).then((resp) => {
                    this.$router.push({name: 'creator_types'});
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors || {};
                    }
                });

                return false;
            }
        }
    }
</script>
