<template>
    <div>
        <h2 class="title text-center">{{creator.name}}</h2>
        <div v-if="creator.bio" class="text-left">
            <h3>Биография</h3>
            {{creator.bio}}
        </div>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";
    import fetchCreatorMixin from "../mixins/creator/fetchCreatorMixin";

    export default {
        mixins: [layoutMixin, fetchCreatorMixin],
    }
</script>
