<template>
    <div id="creators_list">
        <h2 class="title text-center">Писатели</h2>
        <router-link :to="{ name: 'creator_create' }" class="btn btn-primary mt-1 mb-2">Добавить писателя</router-link>
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <div v-if="creators.data.length">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr class="bg-secondary text-white">
                            <th>ID</th>
                            <th>ФИО</th>
                            <th class="text-center">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="creator in creators.data">
                            <td>{{creator.id}}</td>
                            <td class="text-left">
                                <router-link :to="{name: 'creator_view', params: {id: creator.id}}">{{creator.name}}
                                </router-link>
                            </td>
                            <td align="center">
                                <router-link :to="{name: 'creator_edit', params: {id: creator.id}}"
                                             class="text-primary"><i class="fa fa-fw fa-edit"></i> Изменить
                                </router-link>
                                |
                                <a @click.prevent="deleteCreator(creator.id)" href="#" class="text-danger"><i
                                    class="fa fa-fw fa-trash"></i>Удалить</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination :data="creators" @pagination-change-page="fetchCreators"></pagination>
                </div>
                <div v-else>
                    <div class="text-center">Пока не добавлено ни одного писателя</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        components: {},
        mixins: [layoutMixin],
        mounted() {
            this.fetchCreators();
        },
        data: function () {
            return {
                creators: {data: []}
            }
        },
        methods: {
            fetchCreators: function (page = 1) {

                const url = '/creators?page=' + page;

                axios.get(url).then((resp) => {
                    this.creators = resp.data.data;
                });

                document.getElementById("creators_list").scrollIntoView({alignToTop: true, behavior: "smooth"});

            },
            deleteCreator: function (id) {

                const url = '/creators/' + id;

                axios.delete(url).then((resp) => {
                    this.creators.data = this.creators.data.filter((creator) => {
                        return creator.id != id;
                    });
                })
            }
        }
    }
</script>
