<template>
    <div class="col-sm-6 m-auto text-left">
        <h5 class="card-title"><span class="text-danger">*</span> Поле обязательно для заполнения</h5>
        <form method="post" @submit.prevent="saveCreator">
            <div class="form-group">
                <label>ФИО <span class="text-danger">*</span></label>
                <input type="text" name="name" id="name" class="form-control" v-model="fields.name" required="">
                <div v-if="errors && errors.name" class="text-danger">{{ formatErrors(errors.name) }}</div>
            </div>
            <div class="form-group">
                <label>Описание <span class="text-danger">*</span></label>
                <input type="text" name="description" id="useremail" class="form-control"
                       v-model="fields.description" required="">
                <div v-if="errors && errors.description" class="text-danger">{{ formatErrors(errors.description) }}
                </div>
            </div>
            <div class="form-group">
                <label>Биография</label>
                <textarea name="bio" id="bio" class="form-control" v-model="fields.bio"></textarea>
                <div v-if="errors && errors.bio" class="text-danger">{{ formatErrors(errors.bio) }}</div>
            </div>
            <div class="form-group">
                <button type="submit" name="submit" value="submit" id="submit" class="btn btn-primary"><i
                    class="fa fa-fw fa-plus-circle"></i> Добавить
                </button>
            </div>
        </form>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mixins: [layoutMixin],
        data: function () {
            return {
                fields: {},
                errors: {}
            }
        },
        methods: {
            saveCreator() {

                const url = '/creators';

                axios.post(url, this.fields).then((resp) => {
                    this.$router.push({name: 'creators'});
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors || {};
                    }
                });

                return false;
            }
        }
    }
</script>
