<template>
    <div class="col-sm-6 m-auto text-left">
        <h5 class="card-title"><span class="text-danger">*</span> Поле обязательно для заполнения</h5>
        <form method="post" @submit.prevent="saveCreatorType">
            <div class="form-group">
                <label>Название <span class="text-danger">*</span></label>
                <input type="text" name="name" id="name" class="form-control" v-model="creator_type.name" required="">
                <div v-if="errors && errors.name" class="text-danger">{{ formatErrors(errors.name) }}</div>
            </div>
            <div class="form-group">
                <label>Сортировка <span class="text-danger">*</span></label>
                <input type="number" name="sort" id="sort" class="form-control"
                       v-model="creator_type.sort" required="">
                <div v-if="errors && errors.sort" class="text-danger">{{ formatErrors(errors.sort) }}</div>
            </div>
            <div class="form-group">
                <button type="submit" name="submit" value="submit" id="submit" class="btn btn-primary"><i
                    class="fa fa-fw fa-plus-circle"></i> Сохранить
                </button>
            </div>
        </form>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mounted() {
            this.fetchCreatorType();
        },
        data: function () {
            return {
                creator_type: {},
                errors: {}
            }
        },
        mixins: [layoutMixin],
        methods: {
            fetchCreatorType() {

                const url = '/creator_types/' + this.$route.params.id;

                axios.get(url).then(({data}) => {
                    this.creator_type = data.data;
                });

            },
            saveCreatorType() {

                const url = '/creator_types/' + this.creator_type.id;

                axios.put(url, this.creator_type).then((resp) => {
                    this.$router.push({name: 'creator_types'});
                });

                return false;
            }
        }
    }
</script>
