<template>
    <div class="col-sm-6 m-auto text-left">
        <h5 class="card-title"><span class="text-danger">*</span> Поле обязательно для заполнения</h5>
        <form method="post" @submit.prevent="saveCreator">
            <div class="form-group">
                <label>ФИО <span class="text-danger">*</span></label>
                <input type="text" name="name" id="name" class="form-control" v-model="creator.name" required="">
            </div>
            <div class="form-group">
                <label>Описание <span class="text-danger">*</span></label>
                <input type="text" name="description" id="useremail" class="form-control"
                       v-model="creator.description" required="">
            </div>
            <div class="form-group">
                <label>Биография</label>
                <textarea name="bio" id="bio" class="form-control" v-model="creator.bio"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" name="submit" value="submit" id="submit" class="btn btn-primary"><i
                    class="fa fa-fw fa-plus-circle"></i> Сохранить
                </button>
            </div>
        </form>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";
    import fetchCreatorMixin from "../mixins/creator/fetchCreatorMixin";

    export default {
        mixins: [layoutMixin, fetchCreatorMixin],
        methods: {
            saveCreator() {

                const url = '/creators/' + this.creator.id;

                axios.put(url, this.creator).then((resp) => {
                    this.$router.push({name: 'creators'});
                });

                return false;
            }
        }
    }
</script>
