<template>
    <div>
        <h2 class="title text-center">Виды писателей</h2>
        <router-link :to="{ name: 'creator_type_create' }" class="btn btn-primary mt-1 mb-2">Добавить вид писателя
        </router-link>
        <div v-if="creator_types.data.length">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="bg-secondary text-white">
                    <th>ID</th>
                    <th>Название</th>
                    <th>Сортировка</th>
                    <th class="text-center">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="creator_type in creator_types.data">
                    <td>{{creator_type.id}}</td>
                    <td class="text-left">{{creator_type.name}}</td>
                    <td>{{creator_type.sort}}</td>
                    <td align="center">
                        <router-link :to="{name: 'creator_type_edit', params: {id: creator_type.id}}"
                                     class="text-primary"><i class="fa fa-fw fa-edit"></i> Изменить
                        </router-link>
                        |
                        <a @click="deleteCreatorType(creator_type.id)" href="#" class="text-danger"><i
                            class="fa fa-fw fa-trash"></i>Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-else>
            <div class="text-center">Пока не добавлено ни одной вида</div>
        </div>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mixins: [layoutMixin],
        mounted() {
            this.fetchCreatorTypes();
        },
        data: function () {
            return {
                creator_types: {data: []},
                edit: false
            }
        },
        methods: {
            fetchCreatorTypes: function () {

                const url = '/creator_types';

                axios.get(url).then((resp) => {
                    this.creator_types = resp.data;
                });

            },
            deleteCreatorType: function (id) {
                axios.delete('/creator_types/' + id).then((resp) => {
                    this.creator_types.data = this.creator_types.data.filter((creator_type) => {
                        return creator_type.id != id;
                    });
                })
            }
        }
    }
</script>
