<template>
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
            <div class="alert alert-danger" v-if="has_error && !success">
                <p>E-mail или пароль не найдены</p>
            </div>
            <form class="form" method="" action="" @submit.prevent="login">
                <h3 class="text-center h3">Авторизация</h3>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                        </div>
                        <input type="email" v-model="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input type="password" v-model="password" class="form-control" placeholder="Пароль">
                    </div>
                </div>
                <div class="footer text-center">
                    <button class="btn btn-primary btn-link btn-wd btn-lg">Войти
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mixins: [layoutMixin],
        data() {
            return {
                email: null,
                password: null,
                success: false,
                has_error: false,
                error: ''
            }
        },
        mounted() {
            //
        },
        methods: {
            login() {
                // get the redirect object
                var redirect = this.$auth.redirect()
                var app = this
                this.$auth.login({
                    data: {
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                        // handle redirection
                        app.success = true
                        const redirectTo = 'home'
                        this.$router.push({name: redirectTo})
                    },
                    error: function (res) {
                        app.has_error = true
                        app.error = res.response.data.error
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>
