<template>
    <div>
        <h2>Страница не найдена</h2>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mixins: [layoutMixin],
    }
</script>
