<template>
    <div class="col-lg-5 col-md-7 ml-auto mr-auto">
        <div class="card card-login">
            <div class="alert alert-danger" v-if="has_error && !success">
                <p v-if="error != 'registration_validation_error'">Возникла ошибка при регистрации</p>
            </div>
            <form class="form" method="" action="" autocomplete="off" @submit.prevent="register">
                <h3 class="text-center h3">Регистрация</h3>
                <div class="card-body">
                    <div class="input-group" :class="{'has-danger': has_error && errors.name}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                        </div>
                        <input type="text" v-model="name" class="form-control" placeholder="Ваше имя">
                        <span class="bmd-help text-danger"
                              v-if="has_error && errors.name">{{formatErrors(errors.name)}}</span>
                    </div>
                    <div class="input-group" :class="{'has-danger': has_error && errors.email}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                        </div>
                        <input type="email" v-model="email" class="form-control" placeholder="E-mail">
                        <span class="bmd-help text-danger" v-if="has_error && errors.email">{{formatErrors(errors.email)}}</span>
                    </div>
                    <div class="input-group" :class="{'has-danger': has_error && errors.password}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input type="password" v-model="password" class="form-control" placeholder="Пароль">
                        <span class="bmd-help text-danger" v-if="has_error && errors.password">{{formatErrors(errors.password)}}</span>
                    </div>
                    <div class="input-group" :class="{'has-danger': has_error && errors.password}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input type="password" v-model="password_confirmation" class="form-control"
                               placeholder="Подтвердите пароль">
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="submit" href="#" class="btn btn-primary btn-link btn-wd btn-lg">Зарегистрироваться
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import layoutMixin from "../mixins/layoutMixin";

    export default {
        mixins: [layoutMixin],
        data() {
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                has_error: false,
                error: '',
                errors: {},
                success: false
            }
        },
        methods: {
            register() {
                var app = this;
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password,
                        password_confirmation: app.password_confirmation
                    },
                    success: function () {
                        app.success = true;
                        this.$router.push({name: 'login', params: {successRegistrationRedirect: true}})
                    },
                    error: function (res) {
                        // console.log(res.response.data.errors)
                        app.has_error = true;
                        app.error = res.response.data.error;
                        console.log(app.error);
                        app.errors = res.response.data.errors || {};
                        console.log(app.errors.password);
                    }
                })
            }
        }
    }
</script>
