<template>
    <div class="page-header header-filter"
         style="background-image: url('/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <slot></slot>
            </div>
        </div>
    </div>
</template>
