<template>
    <div>
        <div class="page-header header-xs"
             style="background-image: url('/img/bg7.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="section text-center">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>
